.sccDvvFilterSection_title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #efefef;
    padding: 10px;
}

.drop_top {
    border-top: 2px solid black;
}

.drop_bottom {
    border-bottom: 2px solid black;
}

.rock-check-box .control-label {
    font-weight: normal;
}

.rock-check-box .control-wrapper {
    float: left;
}

.rock-check-box .checkbox {
    margin-right: 0px;
}
